body{
    font-family: 'Open Sans', sans-serif;
    background-image: url("../images/8BitSpace.jpg");
    margin: 0px;
}
header{
    display: flex;
    align-items: center;
    height: 150px;
    color: #C8ACD6;

}
header > div {
    flex-grow: 1;
    height: 145px;
    width: auto;
}
header > div > a > img{
    width: auto;
    height: 80%;
}
header > nav > menu {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
    display: flex;
    color: #C8ACD6;
}
header > nav > menu > li{
    padding: 0 15px;
    color: #C8ACD6;
}
.home-masthead{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 50px;
}

.intro h2{
    text-align: center;
    font-size: 30px;
    color: #C8ACD6
}
.intro p{
    text-align: center;
    font-size: 18px;
    color: #E5CFF7;
}
a{
    text-decoration: none;
    color: #fefefe;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}
.home-masthead{
    color: #fefefe;

}
.intro{
    color: #fefefe;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    color: #C8ACD6;
    padding: 10px 0; /* Vertical padding */
    text-align: center;
    width: 100%;
}
h6{
    font-size: 28px;
    margin-bottom: 5px;
}
.newsletter {
    text-align: center;
    margin-bottom: 10px; /* Space between newsletter and info section */
}
.newsletter form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.newsletter input[type="email"] {
    margin-bottom: 0px;
    padding: 3px;
    width: 350px; /* Adjust as needed */
    background-color: #fefefe;
}

.newsletter input[type="submit"] {
    padding: 10px 20px;
    background-color: #C8ACD6; /* Button background color */
    border: none;
    color: #fefefe; /* Button text color */
    cursor: pointer;
}
.info {
    text-align: center;
    color: #C8ACD6;
}
.contact {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contact li{
    margin-bottom: 10px;
    color: #C8ACD6;
}
.story{
    color: #fefefe;
    text-align: center;
    font-size: 20px;
    margin: 10px 10px;
}
.why{
    color: #D27685;
    padding-bottom: 30px;
}
.original{
    color: #F0EB8D;
    padding-bottom: 30px;
}
.customer{
    color: #FFA559;
}
.location{
    color: #f8f8f8;
    font-size: 25px;
}
.here{
    color: #FFA559;
}
.is{
    color: #D27685;
}
.our{
    color: #C8ACD6;
}
.story{
    color: #F0EB8D;
}
.contactus{
    text-align: center;
    font-size: 20px;
    color: #F0EB8D;
}
.email{
    margin-left: 70px;
    font-size: 18px;
    color: #C8ACD6;
}
.email > p{
    font-size: 16px;
    color: #F0EB8D;
}
.hours{
    margin-left: 70px;
    font-size: 15px;
    color: #C8ACD6;
}
.hours > p{
    font-size: 16px;
    color: #F0EB8D;
}

h2{
    color: #f8f8f8;
    font-size: 30px;
    margin-bottom: 20px;
}
.products{
    max-width: 600px;
    margin: 50px auto;
    padding: 0 20px;
    text-align: left;
}
.products > div > a{
    background-color: #232323;
    color: rebeccapurple;
    border-radius: 3px;
}
.products > div > p{
    font-size: 18px;
    margin-bottom: 20px;
}
.grey{
    color: grey;
    background-color: rebeccapurple;
    border-radius: 5px;
}
.grey > h2{
    color: grey;
}

.yellow{
    color:yellow;
    background-color: rebeccapurple;
    border-radius: 5px;
}
.yellow > h2{
    color: yellow;
}
.black{
    color: #fefefe;
    background-color: rebeccapurple;
    border-radius: 5px;
}
/* Products images */
.grey{
    background: rebeccapurple url("../images/GameBoyClassicGrey/179305--nintendo-game-boy.jpg") no-repeat center right;
    background-size: 150px 150px;
}
.yellow{
    background: rebeccapurple url("../images/GameBoyClassicYellow/Yellow Game Boy.jpg") no-repeat center right;
    background-size: 150px 150px;
}
.black{
    background: rebeccapurple url("../images/GameBoyClassicBlack/Black Game Boy.jpg") no-repeat center right;
    background-size: 150px 150px;
}


